ul,li {
    width:100px;
}

li {
    list-style:none;
}

.cfix:after {
    height:0px;
    display:block;
    content:'.';
    visibility : hidden;
    clear:both;
}
* html .clearfix {height:1%}

.box{
    padding : 50px;
    border-radius: 5px;
}

.inner{
    box-shadow:0px 2px 4px #3a3a3a;
}

.menu {
    display:block;
    width:100%;
}
.icon-chevron-right {
    float:right;
}


.views-borad {
    
}
.views-broad div {
    box-shadow:0px 2px 4px #3a3a3a;
    border-radius : 5px;
    border:1px solid #ccc;
    background : white;
}



/*login*/
.login-box {
    margin-left:auto;
    margin-right:auto;
    display:table;
    width:auto;
    margin-top: 170px;
}

