
body{
    height:1000px;
    padding:60px 0 0px;
    background: 
}

.box{
    background:#DCEAF4;
    padding : 20px;
    border-radius: 5px;
}
.navbar-inner{
    background:#dceaf4;
    box-shadow:0px 2px 4px #3a3a3a;
}

.left,.right {
    border-radius: 5px;
    box-shadow:-2px 2px 6px #3a3a3a;
   /* -moz-transform:skew(0deg,-20deg);*/
    background:#BBD8E9
}
